    <h3>
        Préparation Couscous au poisson</h3>
        
        <img class="center" [src]="rrrr"/>
        
        <div>
        Dans un grand bol, saler les poissons et mettre la moitié du cumin 
        (pour ma part, je mets les têtes de poisson uniquement et grille le reste).<br/> 
        Dans le bas du couscoussier, Couper les oignons vulgairement
         et les faire revenir dans de l'huile d'olive.<br/>

        Lorsque les oignons prennent une couleur dorée,
         ajouter l'ail haché et faire revenir encore 3 minutes.<br/>
         
        Ajouter le piment en poudre et les piments verts et laisser frire environ 3 mn.
        
        Ajouter le concentré de tomates, l'harissa, <br/>le coriandre en poudre,
         la moitié du cumin, le sel et le poivre. <br/>
         Faire revenir le tout 2 minutes puis ajouter 2 verres d'eau et laisser mijoter.
         
        Mettre le couscous dans un bol, l'irriguer avec 3 poignées d'huile végétale,<br/>
         un peu de sel et 5 poignées d'eau.<br/> Le mélanger du boût des doigts.<br/>
         
        Ajouter 1 litre d'eau à la sauce et mettre le couscous
        cuire à la vapeur pendant 20 minutes.<br/>
        
        Retirer le couscous, le remettre dans un bol et l'irriguer<br/>
         avec encore 3 poignées d'eau et mélanger.
         
        Retirer les poissons et les piments de la sauce,<br/>
         ajouter 1/2 litre d'eau à et remettre le couscous cuire à la vapeur encore 15 minutes.<br/>
     Lorsque le couscous est cuit, le mettre dans votre plat de présentation,<br/>
            verser un peu plus que la moitié de la sauce filtrée et laisser reposer environ 5 minutes. 
            <br/> Mélanger et goûter. Ajouter de la sauce si vous désirez.
            
        </div>
     
        
            <h3>
                Préparation Mloukhia</h3>
                <img class="he" [src]="rrr"/>
<div>


    Versez de l’eau dans une grande casserole et mettez à bouillir.<br/>
    Découpez la viande de bœuf en gros morceaux. Hachez l’ail et les oignons.<br/>
    Versez l’huile d’olive dans une cocotte. 
    Mettez les oignons à colorer puis saisissez la viande boeuf.
     Une fois saisie, retirez la cocotte du feu puis réservez la viande
      et les oignons en laissant bien l’huile d’olive.
    Saupoudrez la poudre de molokheya tout en mélangeant énergiquement<br/>
     jusqu’à ce qu’une pâte se forme.
    Quand la pâte de molokheya se forme, alors remettez la cocotte sur feu très léger,
     puis versez l’eau bouillante petit à petit tout en mélangeant énergiquement<br/>
      pour ne pas faire de grumeaux. 
      Versez l’eau jusqu’à atteindre les 3/4 de la cocotte.<br/>
     Vérifiez que le feu soit très léger et laissez mijoter une petite heure en remuant<br/>
      de temps en temps.
    Ajoutez ensuite tous les ingrédients :
     la viande précédemment saisie, les oignons, l’ail, le laurier, la harissa et les épices. <br/>
     Vous pouvez ensuite assaisonner à votre sauce.
    Faites mijoter le plat entre 2 h et 3 h afin de dégager les saveurs de la Tunisie.<br/>
      La cuisson est parfaite quand l’huile d’olive remonte à la surface, c’est prêt !



</div>

<br/>


<h3>Préparation Pate(Makrouna)</h3>
<img class="hi" [src]="r"/>
<div>
 Mettre dans un faitout ou une cocotte, la viande, les gousses d’ail écrasées, 
 le tabel ainsi que l’huile d’olive

puis ajouter la tomate concentrée ainsi que le piment en poudre

puis saler et poivrer

bien mélanger et mettre à cuire sur feu moyen quelques minutes en remuant souvent

puis couvrir avec 2 bons verres d’eau et ajouter le piment vert

puis fermer la cocotte avec un couvercle

et laisser cuire 35 minutes pour du poulet et 1h environ pour la viande de bœuf ou veau

et rajouter si besoin un verre d’eau pendant la cuisson

la sauce ne doit pas être liquide mais bien épaisse

pendant ce temps cuire les pâtes dans une eau bouillante salée
 ( je mets 1 cuillère à soupe de gros sel)

éteindre le feu puis verser un verre d’eau sur les pâtes et les égoutter

vérifier la cuisson de la viande puis la déposer dans une assiette

au moment de servir mélanger les pâtes dans la sauce rouge

puis garnir ce plat de pâte tunisienne de viande</div>



<br/>
<h3>Préparation Lablebi</h3>
<img class="hii" [src]="rl"/>
<div>Mettre dans une casserole les pois chiches avec leur eau, saler.
    Ajouter 1L d'eau et laisser cuire une dizaine de minutes.
    Ecraser 2 gousses d'ail, ajouter dans la casserole, avec une bonne cc de tabel -karouia.
    Pendant ce temps, couper du pain rassis en petits morceaux et remplir 2 grands bols.
    Casser 2 oeufs dans la soupe, et laisser pocher quelques instants, puis éteindre le feu. 
    L'oeuf doit rester coulant à l'intérieur.
    Déposer immédiatement un oeuf sur le dessus de chaque bol,
     puis arroser tout autour avec la soupe et les pois chiches.
    Sur chaque bol, ajouter une grosse cs de harissa, une cs de cumin moulu,
     du thon, des câpres, des olives.
    Passer sur le dessus un filet d'huile d'olive vierge et presser un quart de citron.
    Une fois ce beau tableau obtenu, tout mélanger, puis déguster à la cuillère.
    

</div>

<br/>
<h3>Préparation Tajin</h3>
<img class="hiii" [src]="rr"/>
<div>
    Faire frire les pommes de terre, faire revenir le poulet (variante : ou la viande hachée)
     avec sel, poivre et coriandre dans une poêle avec un peu d'huile et 50 g de margarine.
    2Dans un saladier, casser les oeufs, incorporer les pommes de terre froides 
    et le poulet / la viande (froide), puis persil, fromage râpé, sel, poivre et coriandre,
     mélanger le tout. Disposer dans un plat beurré. Mettre au four 15 minutes.
</div>

<br/>
<h3>Préparation Brik</h3>

<img class="hiiii" [src]="rll"/>
<div>
    Mettez l'huile à chauffer dans une poêle (à feu moyen).
    Pendant ce temps, dans un bol, cassez 1 oeuf, rajoutez du thon
     (1 cuillère à café ou plus), parsemez de câpres, salez et poivrez 
     (ne pas mélanger, l'oeuf doit rester entier).
    Quand l'huile est chaude (attention, elle ne doit pas fumer!), 
    prenez une feuille de brick ouverte, immergez-en la moitié dans l'huile 
    (en tenant l'autre moitié en dehors, le brick fait un angle droit).
    Déposez délicatement le contenu du bol sur la moitié immergée, au niveau du pli.
     Refermez en posant l'autre moitié sur cette préparation.
    Soudez le contour de la brick (demi-cercle) en appuyant doucement dessus avec une cuillère.
    Ensuite, arrosez délicatement de l'huile sur le dessus de la brick avec la cuillère, 
    la partie centrale où se situe l'oeuf se met à gonfler.
    Lorsque la partie immergée dans l'huile commence à prendre une couleur dorée, 
    retournez la brick et renouvelez l'opération après quelques secondes.
    Quand l'ensemble prend une coloration bien dorée, retirez la brick du feu. 
    Attention, tout cela ne prend que quelques secondes, au final l'oeuf ne doit pas être dur!
    Une fois vos bricks réalisées, servez rapidement avec un filet de citron
</div>

<br/>
<h2>BON APPETIT😋</h2><br/>
