ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    height: 30rem;
    width: 25rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden  ;
    color: #e72929;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;

}

.content{
    padding: 2rem 1rem;
    position: relative;
    
}
.name{
    align-items: center;
}
.favorite{
    position: absolute;
    top: 0.99rem;
    right: 1rem;
    font-size: 1.2rem;


}

.product-itel-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.origins{
    flex: 9;
}
.origins span{
    border-radius: 1.5rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.7rem;
    color: rgb(210, 84, 124);
    margin-right: 3rem;
}
.cook-time{
    font-size: 0.8rem;
    flex: 3;
    text-align: right;
}
.price{
    color: rgb(210, 84, 124);
    margin-top: 0.3rem;
    text-align: right;
}